<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>


      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
        <a class="navbar-brand" href="#">Realtime Stock Data</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#stockPrices">Stock Prices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#globalQuote">Global Quote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tradeAdvise">Trade Advise</a>
            </li>


          </ul>
        </div>
      </nav>

<br>
<div class="container">
    {% block content %}

    {% endblock %}
</div>







<script>



const table_to_array = (table_id) => {
                    myData = document.getElementById(table_id).rows
                    //console.log(myData)
                    my_liste = []
                    for (var i = 0; i < myData.length; i++) {
                            el = myData[i].children
                            my_el = []
                            for (var j = 0; j < el.length; j++) {
                                    my_el.push(el[j].innerText);
                            }
                            my_liste.push(my_el)

                    }
                    return my_liste
}



const displayfiveDaysStockChart = () => {
  let fiveDayStockTableArray = table_to_array('fiveDayStockPrices');
  var fiveDayStockDates = [];
  for(let i = 1; i < fiveDayStockTableArray.length; i++) {
    fiveDayStockDates.push(fiveDayStockTableArray[i][0]);
  }

  var fiveDayStockPrices = [];
  for(let i = 1; i < fiveDayStockTableArray.length; i++) {
    fiveDayStockPrices.push(fiveDayStockTableArray[i][1]);
  }

  console.log(`Stock Dates: ${fiveDayStockDates}`);
  console.log(`Stock Prices: ${fiveDayStockPrices}`);

  return(
    new Chart("myChart", {
    type: "line",
    data: {
      labels: fiveDayStockDates,
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: fiveDayStockPrices
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Price fluctuation in the past 5 days",
        fontSize: 16
      }
    }
  })

  );
  

   
};

const fiveDaysStockChart = displayfiveDaysStockChart();

</script>
</body>
</html>