<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Stock Data</title>
</head>
<body>
    <h1>View Realtime Stock data</h1>
    <p>Hello {{ test_var }}</p>
</body>
</html>