
{% extends 'base.html' %}

{% block title %} Home {% endblock %}
    
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{{ general_data.Name }} ({{ stock_name }})</h1>
        </div>
      </div> <br><br>

      <div class="jumbotron" style="background-color: rgb(0, 183, 255); padding: 20px;">
        <h1 class="display-4">General information for {{ general_data.Name }}</h1><hr>
        <b>Sector: </b>{{ general_data.Sector }} <br>
        <b>Exchange: </b>{{ general_data.Exchange }} <br>
        <b>Currency: </b>{{ general_data.Currency }} <br>
        <b>Book Value: </b>{{ general_data.BookValue }} <br>
        <b>Dividend Per Share: </b>{{ general_data.DividendPerShare }} <br>
        <b>Dividend Per Yield: </b>{{ general_data.DividendYield }} <br>
        <b>Profit Margin: </b>{{ general_data.ProfitMargin }} <br>
        <hr>
        {{ general_data.Description }}
      </div>
    <br>
    <hr>
    <div class="jumbotron" id="stockPrices" style="background-color: bisque; padding: 20px;">
      <h1 class="display-4">Stock Prices of {{ general_data.Name }} over the last 5 days</h1>
      <hr>
    <table class="table  table-dark" id="fiveDayStockPrices">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Stock Price</th>
          </tr>
        </thead>

        <tbody>
          
          {% for item in stock_data_list %}
          <tr>
                {% for i in item%}
                    <td>{{i}}</td>
                {% endfor %}

          </tr>
          {% endfor %}
          
        </tbody>
      </table>
      <hr>
      <canvas id="myChart" style="width:100%;max-width:600px; background-color:azure"></canvas>
    </div>
    <hr>
    <div class="jumbotron" id="globalQuote" style="background-color: orange; padding: 20px;">
      <h1 class="display-4">Global Quote for {{ general_data.Name }}</h1><hr>
      <!-- {{ quote_data }} -->
      {% for key, value in quote_data.items %}
        <b>{{ key }}</b>: {{value}} <br>
      {% endfor %}

    </div>

    
    <!-- {{ stock_data_list }} -->
    <hr>
    <div class="jumbotron" id="tradeAdvise" style="background-color: pink; padding: 20px;">
      <h1 class="display-4">Trade Advise for {{ general_data.Name }}</h1><hr>
      <p class="lead">Using Bollinger Bands strategy the current trade advise for {{ stock_name }} is </p>
      <p class="lead"><b>{{ trade_advise_data.advice }}</b></p>
    </div>
    <hr>

      

      <br>
      {% comment %} <a href="http://localhost:4200/stock-list"><button type="button" class="btn btn-primary">Return</button><br></a> {% endcomment %}
      <a href="javascript:history.back()"><button type="button" class="btn btn-primary">RETURN TO PLACE ORDER</button><br></a>
      <br>
{% endblock %}